@page "/about"
@using FlightPlanner.Service.Common
@model AboutModel
@{
    ViewData["Title"] = "Om sidan";
    ViewData["Description"] = "Källinformation, allmäna vilkor och annan information om denna sida.";
}


<div class="mt-4 text-center">
    <h1>Om sidan</h1>

    <div class="mt-4" style="color: gray">
        <p>
            Få översikt över METAR, TAF, NOTAM och annan värdefull väderinformation!
        </p>

        <p class="mt-5">
            <b class="mt-5">Öppen källkod</b>
        </p>
        <p class="mt-1">
            Denna hemsida har öppen källkod, projektet kan hittas <a href="@Constants.ProjectUrl" target="_blank">här</a>.
        </p>

        <p class="mt-5">
            <b>Användarvillkor</b>
        </p>
        <p class="mt-1">
            Väderrapporter och data på denna sida är hämtad från tredjepart och flygplanering.se tar inte<br/>
            ansvar för att informationen är fullständig, heltäckande eller korrekt. Basera alltid viktiga beslut på officiella väderprognoser och varningar.
            <br/>

            <div class="text-left w-50 mx-auto" style="min-width: min(600px, 90%)">
                <ul>
                    <li>METAR och TAF hämta från <a href="@Constants.MetHomePageUrl" target="_blank">Meteorologisk institutt</a></li>
                    <li>NOTAM information kommer från <a href="@Constants.NotamSearchHomePageUrl" target="_blank">FAA Notam Search</a></li>
                    <li>NSWC kartan är en direktlänk till den <a href="@Constants.AboutNswcUrl" target="_blank">officiella karta</a> som LFV och SMHI förser</li>
                </ul>
            </div>
        </p>
        <p class="mt-5">
            <b>Om kakor</b>
        </p>
        <p class="mt-1">
            Denna hemsida använder kakor för att spara användarinställningar.
            <br/>
            Du kan läsa mer om kakor <a href="@Constants.AboutCookiesUrl" target="_blank">här</a>.
        </p>
    </div>
</div>