@page
@using FlightPlanner.Service.Config
@model IndexModel
@{
    ViewData["Title"] = "Flygplanering.se - Briefingtjänst";
    ViewData["Description"] = "Briefingtjänst för PPL-piloter. Få översikt över METAR, TAF, NOTAM och annan värdefull väderinformation.";
}


@if (Model.SettingsSaved)
{
    <partial name="_AlertPartial"
             model='new AlertModel("Dina inställningar sparades!", AlertType.Success)' />
}
else if (!CookieUtil.IsConsentPending(HttpContext) &&
    !SessionUtil.GetFlag(HttpContext, SeassionFlag.TipsAndTrickShowed))
{
    <partial name="_AlertPartial"
             model='new AlertModel("Saknas du vissa flygplatser? Gå till <a href=\"/Settings\">dina inställningar</a> för att ändra vilka du kan se!", AlertType.Info)' />
    SessionUtil.SetFlag(HttpContext, SeassionFlag.TipsAndTrickShowed);
}


<div class="container text-center">
    <div class="mt-2">
        <p>
            Data från SMHI, Meteorologisk institutt och FAA Notam Search
            <br />Hämtad @Model.CurrentTimeUtc
        </p>
    </div>

    <div id="section-weather">
        <div include-if="Model.Metar?.Count > 0">
            <div class="info-block">
                <h2>METAR</h2>
                <hr />

                @foreach (var kvp in Model.Metar)
                {
                    <div class="report-line">
                        <b>@kvp.Key</b><span>@kvp.Value</span>
                    </div>
                }
            </div>
        </div>

        <div include-if="Model.Taf?.Count > 0">
            <div class="info-block">
                <h2>TAF</h2>
                <hr />

                @foreach (var kvp in Model.Taf)
                {
                    <div class="report-line">
                        <b>@kvp.Key</b><span>@kvp.Value</span>
                    </div>
                }
            </div>
        </div>

        <div include-if="Model.Notam?.Count > 0">
            <div class="info-block">
                <h2>NOTAM</h2>
                <hr />

                @foreach (var kvp in Model.Notam)
                {
                    <div class="report-line">
                        <b>@kvp.Key</b>
                        <span>
                            @foreach (var notam in kvp.Value)
                            {
                                @notam.Message
                                <br />
                                <br />
                            }
                        </span>
                    </div>
                }
            </div>
        </div>

        <div class="info-block d-print-none">
            <h2>Low Level Forecast</h2>
            <hr />
            Klicka på länken nedan för att öppna NorthAviMets låghöjdsprognos i en ny flik

            <br />
            <a href="@Constants.NorthAviMetUrl" target="_blank">Klicka för att öppna</a>
        </div>

        <p style="page-break-after: always;">&nbsp;</p>

        <div class="info-block">
            <h2 class="d-print-none">NSWC</h2>
            <hr class="d-print-none" />

            <p class="d-print-none" style="font-size: 10px">
                <a class="gray-link" href="@Constants.AboutNswcUrl" target="_blank">NSWC</a> by SMHI,
                licensed under <a class="gray-link" href="@Constants.CC4LicenseUrl" target="_blank">CC BY 4.0</a>
            </p>

            <img class="report-image" alt="SWC Norden" src="@Constants.NswcUrl" asp-append-version="true" />
        </div>
    </div>


    <div include-if="Model.ShowWeightBalanceSection" id="section-weight-balance" style="display: none">
        <p style="page-break-after: always;">&nbsp;</p>

        <div class="info-block">
            <h2>Vikt och Balans</h2>
            <hr />

            <canvas id="weight-balance-chart" class="d-print-none"></canvas>

            <div>
                <div class="d-print-none">
                    <select id="select-weight-balance" onchange="createTable()">
                        <option value="SE-KIK">SE-KIK</option>
                        <option value="SE-KAV">SE-KAV</option>
                        <option value="SE-IDG">SE-IDG</option>
                        <option value="SE-VPO">SE-VPO</option>
                    </select>
                </div>

                <div class="auto-overflow-x">
                    <table class="mt-4">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Vikt (kg)</th>
                                <th>Arm (cm)</th>
                                <th>Massmoment (kgcm)</th>
                            </tr>
                        </thead>
                        <tbody id="table-weight-balance" />
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="my-5">
        <button include-if="Model.ShowWeightBalanceSection" id="button-weight-balance" class="cbtn cbtn-secondary mx-5 mt-4 d-print-none" onclick="showWeightBalance()">
            <i class="material-icons">add</i>
            <span>Vikt och Balans</span>
        </button>

        <button id="button-print-summary" class="cbtn cbtn-secondary mx-5 mt-4 d-print-none" onclick="window.print()">
            <i class="material-icons">print</i>
            <span>Skriv ut</span>
        </button>
    </div>

</div>

<script include-if="Model.ShowWeightBalanceSection" src="~/lib/chartjs/dist/chart.js"></script>
<script include-if="Model.ShowWeightBalanceSection" src="~/js/weight-balance.js" asp-append-version="true"></script>
