@page
@model IndexModel
@{
    ViewData["Title"] = "Briefingtjänst";
    ViewData["Description"] = "Briefingtjänst för PPL-piloter. Få översikt över METAR, TAF, NOTAM och annan värdefull väderinformation.";
}

<script src="~/js/weight-balance.js" asp-append-version="true"></script>
<partial name="_TipsAndTricksPartial" />

<div class="container text-center">

    <div class="mt-2">
       <p>
           Data från SMHI, Meteorologisk institutt och FAA Notam Search
           <br />Hämtad @Model.RetrievedTimeUtc
        </p>     
    </div>


    <div id="section-weather">

        @if (Model.Metar?.Count > 0) {
            <div class="info-block">
                <h2>METAR</h2>
                <hr />
            
                @foreach (var kvp in Model.Metar) {
                    <div class="report-line">
                        <b>@kvp.Key</b><span>@kvp.Value</span>
                    </div>
                }
            </div>
        }


        @if (Model.Taf?.Count > 0) {
            <div class="info-block">
                <h2>TAF</h2>
                <hr />
            
                @foreach (var kvp in Model.Taf) {
                    <div class="report-line">
                        <b>@kvp.Key</b><span>@kvp.Value</span>
                    </div>
                }
            </div>
        }


        @if (Model.Notam?.Count > 0)
        {
            <div class="info-block">
                <h2>NOTAM</h2>
                <hr />
                
                @foreach (var kvp in Model.Notam)
                {
                    <div class="report-line">
                        <b>@kvp.Key</b>
                        <span>
                            @foreach (var notam in kvp.Value)
                            {
                                @notam.Message
                                <br />
                                <br />
                            }
                        </span>
                    </div>
                }
            </div>
        }


        <div class="info-block d-print-none">
            <h2>Low Level Forecast</h2>
            <hr />
            Klicka på länken nedan för att öppna NorthAviMets låghöjdsprognos i en ny flik

            <br />
            <a href="https://www.northavimet.com/low-level-forecast/denmarksweden" target="_blank">Klicka för att öppna</a>
        </div>


        <p style="page-break-after: always;">&nbsp;</p>


        <div class="info-block">
            <h2>NSWC</h2>
            <hr />

            <p class="d-print-none" style="font-size: 10px">
                <a href="https://www.smhi.se/professionella-tjanster/hallbara-och-sakra-transporter/flyg/nswc-1.2428" target="_blank">NSWC</a> by SMHI, 
                licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>
            </p>

            <img id="nswc-image" alt="SWC Norden" src="@Model.NswcUrl" />
        </div>
    </div>


    <div id="section-weight-balance" style="display: none">

        <p style="page-break-after: always;">&nbsp;</p>


        <div class="info-block">
            <h2>Vikt och Balans</h2>
            <hr />

            <div>
                <div class="d-print-none">
                    <select id="select-weight-balance" onchange="create_weight_balance_table()">
                        <option value="SE-KIK">SE-KIK</option>
                        <option value="SE-KAV">SE-KAV</option>
                        <option value="SE-IDG">SE-IDG</option>
                        <option value="SE-VPO">SE-VPO</option>
                    </select>
                </div>

                <div class="auto-overflow-x">
                    <table class="mt-4">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Vikt (kg)</th>
                                <th>Arm (cm)</th>
                                <th>Moment (kgcm)</th>
                            </tr>
                        </thead>
                        <tbody id="table-weight-balance" />
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="my-5">

        <a id="button-weight-balance" class="main-button d-print-none" onclick="showWeightBalanceSection()">
            <i class="material-icons">add</i>
            <span>Vikt och Balans</span>
        </a>

        <a id="button-print-summary" class="main-button d-print-none " onclick="window.print()">
            <i class="material-icons">print</i>
            <span>Skriv ut</span>
        </a>
    </div>

</div>
