@page
@model IndexModel
@{
    ViewData["Title"] = "Flygplanering.se - Briefingtjänst";
}


<script src="~/js/summary-print.js" asp-append-version="true"></script>
<script src="~/js/weight-balance.js" asp-append-version="true"></script>


<div class="text-center">

    <div id="last-update-time">
       <p>
           Data from 
           <a href="https://aro.lfv.se/" target="_blank">LFV</a>, 
           <a href="https://www.met.no/" target="_blank">MET Norway</a> and 
           <a href="https://notams.aim.faa.gov/notamSearch/nsapp.html#/" target="_blank">FAA Notam Search</a>
           <br />Retrieved @Model.RetrievedTimeUtc
        </p>     
    </div>


    <div id="section-weather">

        @if (Model.Metar?.Count > 0) {
            <div class="info-block">
                <h2>METAR</h2>
                <hr />
            
                @foreach (var kvp in Model.Metar) {
                    <div class="report-line">
                        <b>@kvp.Key</b><span>@kvp.Value</span>
                    </div>
                }
            </div>
        }


        @if (Model.Taf?.Count > 0) {
            <div class="info-block">
                <h2>TAF</h2>
                <hr />
            
                @foreach (var kvp in Model.Taf) {
                    <div class="report-line">
                        <b>@kvp.Key</b><span>@kvp.Value</span>
                    </div>
                }
            </div>
        }


        @if (Model.Notam?.Count > 0)
        {
            <div class="info-block">
                <h2>NOTAM</h2>
                <hr />

                @foreach (var kvp in Model.Notam)
                {
                    <div class="report-line">
                        <b>@kvp.Key</b>
                        <span>
                            @foreach (var line in kvp.Value.Split("\n"))
                            {
                                @line
                                <br />
                            }
                        </span>
                    </div>
                }
            </div>
        }


        <div class="info-block no-print">
            <h2>Low Level Forecast</h2>
            <hr />
            Click on the link below to open the NortAviMet low level forecast for the Nordic Region

            <br />
            <a href="https://www.northavimet.com/low-level-forecast/denmarksweden" target="_blank">Click to open forecast</a>
        </div>


        <br /><p style="page-break-after: always;">&nbsp;</p>


        <div class="info-block">
            <h2>NSWC</h2>
            <hr />

            <img id="nswc-image" alt="Significant Weather Chart" src="@Model.NswcUrl" />
        </div>
    </div>


    <div id="section-weight-balance" style="display: none">

        <br /><p style="page-break-after: always;">&nbsp;</p>


        <div class="info-block">
            <h2>Weight and Balance</h2>
            <hr />

            <div>
                <div class="no-print">
                    <select id="select-weight-balance" onchange="create_weight_balance_table()">
                        <option value="SE-KIK">SE-KIK</option>
                        <option value="SE-KAV">SE-KAV</option>
                        <option value="SE-IDG">SE-IDG</option>
                        <option value="SE-VPO">SE-VPO</option>
                    </select>
                </div>

                <div class="auto-overflow-x">
                    <table style="margin-top: 30px">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Weight (kg)</th>
                                <th>Arm (cm)</th>
                                <th>Moment (kgcm)</th>
                                <!--<th>Notes</th>-->
                            </tr>
                        </thead>
                        <tbody id="table-weight-balance" />
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="info-block" style="margin-top: 25px">

        <a id="button-weight-balance" class="main-button no-print" onclick="show_weight_balance_section()">
            <i class="material-icons">balance</i>
            <span>Vikt och Balans</span>
        </a>

        <a id="button-print-summary" class="main-button no-print" onclick="window.print()">
            <i class="material-icons">print</i>
            <span>Skriv ut</span>
        </a>
    </div>

</div>
